.second-section-wrapper
	width: 90%
	margin: 0 auto
	padding-top: 163px
	h2, .about-text
		opacity: 0
	@media (max-width: $movil)
		width: 80%
	&--developers
		display: flex
		width: 100%
		height: 565px
		justify-content: space-between
		margin-top: 70px
		opacity: 0
		@media (max-width: $tablet)
			flex-wrap: wrap
			justify-content: center
			// flex-direction: column
			// align-items: center
		
		&__card
			width: 30.3%
			height: 100%
			display: flex
			flex-direction: column
			background-color: white
			padding-top: 15px
			box-shadow: 6px 6px 12px $primary-color-gray
			border-radius: 20px
			@media (max-width: $md-movil)
				height: 110%
			@media (max-width: $tablet)
				width: 45%
				margin: 40px 20px
				padding-top: 33px
			@media (max-width: $mini-tablet)
				width: 75%
			img
				width: 90%
				height: 50%
				margin: 0 auto
				border-radius: 20px
				@media (max-width: $tablet)
					width: 80%
			p
				width: 90%
				height: 40%
				margin: 20px auto
				font-size: 14px
				line-height: normal
				@media (max-width: $tablet)
					width: 80%
			@media (max-width: $movil)
				width: 100%
			.icons-red
				display: flex
				margin:  auto
				height: 30px
				// margin-top: 25px
				margin-bottom: 10%
				a
					width: 30px
					padding: 6px
				img
					width: 30px
					height: 30px

