.first-section-wrapper
	width: 90%
	margin: 0 auto
	padding-top: 163px
	h2
		margin-top: 0
	.p-features
		font-size: 30px
		margin-left: 20px
		margin-right: 20px
		line-height: 36px
	.first-section__features
		@include features
		margin-bottom: 50px
		@media (max-width: $mini-tablet)
			flex-direction: column
	.first-section__features--revert
		@include features
		margin-bottom: 50px
		@media (max-width: $mini-tablet)
			flex-direction: column-reverse