.first-section-wrapper
	width: 90%
	margin: 0 auto
	padding-top: 163px
	h2
		margin-top: 0
	.first-section__features
		@include features
		@media (max-width: $mini-tablet)
			flex-direction: column
	.first-section__features--revert
		@include features
		@media (max-width: $mini-tablet)
			flex-direction: column-reverse