header
	width: 100%
	height: 138px
	background-color: $primary-color-gray
	margin: 0
	.header-container
		width: 90%
		position: relative
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
		padding: 5px
		&_logo
			width: 100px
			height: 122px
			background-image: url(../img/not-clicks-logo.svg)
			background-size: cover
			background-repeat: no-repeat
		&_nav
			.nav-container
				display: flex
				list-style-type: none
				@media (max-width: $bg-movil)
					display: none
				&--item
					@include items-menu
					margin-right: 30px
					&:hover
						cursor: pointer
		input
			display: none
		label
			width: 50px
			height: 50px
			background-image: url(../img/icon-menu.svg)
			background-repeat: no-repeat
			background-size: 30px 30px
			background-position: center
			&:hover
				background-color: $second-color-orange
				transition-property:  background-color
				transition-duration: 1s
				transition-delay: 0.3s
		&_nav-responsive
			position: absolute
			top: -472px  //138px js
			right: -24px
			z-index: 1
			width: 110%
			background: $primary-color-gray
			.nav-responsive-container
				width: 100%
				margin: 0 
				padding: 0
				text-align: center
				list-style-type: none
				&--item
					@include items-menu
					padding: 50px