header
	position: fixed
	width: 100%
	height: 90px
	margin: 0
	z-index: 2
	background-color: $primary-color-gray
	.header-container
		width: 90%
		height: 100%
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		&_logo
			width: 175px
			height: 70px
			margin-left: 69px
			background-image: url(../img/not-clicks-4.png)
			background-size: contain
			background-repeat: no-repeat
			background-position: center
			@media (max-width: $bg-movil)
				margin-left: 39px
			@media (max-width: $movil)
				width: 125px
		&_nav
			.nav-container
				display: flex
				list-style-type: none
				@media (max-width: $bg-movil)
					display: none
				&--item
					padding:12px
					@include items-menu
					margin-right: 30px
					@media (max-width: $mini-tablet)
						padding: 0
					&:hover
						cursor: pointer
						color: $primary-color-gray
						background: $primary-color-green
						border-radius: 9px
		input
			display: none
		label
			@media (max-width: $bg-movil)
				display: flex
				justify-content: center
			display: none
			// width: 50px
			// height: 50px
			// background-image: url(../img/icon-menu.svg)
			// background-repeat: no-repeat
			// background-size: 30px 30px
			// background-position: center
			// z-index: 2
			&:hover
				background-color: $primary-green-opacity
				transition-property:  background-color
				transition-duration: 1s
				transition-delay: 0.3s
		&_nav-responsive
			position: absolute
			top: -472px  //138px js
			right: -32px
			z-index: 1
			width: 110%
			background: $primary-color-gray
			transition: top 0.3s ease-out
			.nav-responsive-container
				width: 100%
				margin: 0 
				padding: 0
				text-align: center
				list-style-type: none
				&--item
					@include items-menu
					padding: 50px
		&_nav-responsive.active
			top: 90px
			transition: top 0.3s ease-out