.third-section-wrapper
	width: 90%
	margin: 0 auto
	padding-top: 163px
	h2
		opacity: 0
	// @media (max-width: $movil)
	// 	width: 80%
	&--content
		display: flex
		align-items: center
		opacity: 0
		p
			width: 50%
			margin-right: 30px
			@media (max-width: $mini-tablet)
				width: 90%
			@media (max-width: $md-movil)
				width: 80%
				margin-right: 0
		video
			border-radius: 20px
			width: 50%
		@media (max-width: $tablet)
			align-items: space-between
			video
				width: 50%
		@media (max-width: $mini-tablet)
			flex-direction: column
			video
				width: 90%
				height: 300px
				margin-top: 60px
				margin-left: 0
		@media (max-width: $movil)
			video
				width: 100%

