/*Variables*/
/*Colors */
/*Variables breakpoints*/
/*General rules*/
h2 p h1 {
  margin: 0;
  color: #3a3a3a;
}

h2 {
  font-size: 42px;
}

/*mixins*/
/*General*/
html {
  clear: both;
  margin: 0;
}
html body {
  clear: both;
  margin: 0;
}
html body h2, html body p, html body h1 {
  margin: 0;
  color: #3a3a3a;
}
html body h2 {
  font-family: muli, Arial;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 95px;
  padding-left: 50px;
  padding-bottom: 5px;
  position: relative;
}
@media (max-width: 769px) {
  html body h2 {
    font-size: 32px;
  }
}
@media (max-width: 376px) {
  html body h2 {
    text-align: center;
    font-size: 22px;
  }
}
html body h2::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0px;
  width: 238px;
  height: 65px;
  background-image: url(../img/lines.svg);
  background-size: cover;
  background-repeat: no repeat;
}
@media (max-width: 376px) {
  html body h2::before {
    left: 83px;
    width: 178px;
  }
}
html body p {
  font-family: sans-serif, arial;
  line-height: 25px;
}
@media (max-width: 376px) {
  html body p {
    font-size: 14px;
    line-height: 18px;
  }
}
html body header {
  position: fixed;
  width: 100%;
  height: 90px;
  margin: 0;
  z-index: 2;
  background-color: #3a3a3a;
}
html body header .header-container {
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header .header-container_logo {
  width: 175px;
  height: 70px;
  margin-left: 69px;
  background-image: url(../img/not-clicks-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 576px) {
  html body header .header-container_logo {
    margin-left: 39px;
  }
}
@media (max-width: 376px) {
  html body header .header-container_logo {
    width: 125px;
  }
}
html body header .header-container_nav .nav-container {
  display: flex;
  list-style-type: none;
}
@media (max-width: 576px) {
  html body header .header-container_nav .nav-container {
    display: none;
  }
}
html body header .header-container_nav .nav-container--item {
  padding: 12px;
  margin-right: 30px;
}
html body header .header-container_nav .nav-container--item a {
  font-family: Arial, Helvetica, sans-serif;
  color: #efefef;
  text-decoration: none;
}
html body header .header-container_nav .nav-container--item a:hover {
  cursor: pointer;
  color: #3a3a3a;
  background: #cfe900;
}
@media (max-width: 769px) {
  html body header .header-container_nav .nav-container--item {
    padding: 0;
  }
}
html body header .header-container_nav .nav-container--item:hover {
  cursor: pointer;
  color: #3a3a3a;
  background: #cfe900;
  border-radius: 9px;
}
html body header .header-container input {
  display: none;
}
html body header .header-container label {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url(../img/favicon.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  z-index: 2;
}
@media (max-width: 576px) {
  html body header .header-container label {
    display: block;
  }
}
html body header .header-container label:hover {
  background-color: rgba(207, 233, 0, 0.5);
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0.3s;
}
html body header .header-container_nav-responsive {
  position: absolute;
  top: -472px;
  right: -33px;
  z-index: 1;
  width: 110%;
  background: #3a3a3a;
  transition: top 0.3s ease-out;
}
html body header .header-container_nav-responsive .nav-responsive-container {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
html body header .header-container_nav-responsive .nav-responsive-container--item {
  padding: 50px;
}
html body header .header-container_nav-responsive .nav-responsive-container--item a {
  font-family: Arial, Helvetica, sans-serif;
  color: #efefef;
  text-decoration: none;
}
html body header .header-container_nav-responsive .nav-responsive-container--item a:hover {
  cursor: pointer;
  color: #3a3a3a;
  background: #cfe900;
}
html body header .header-container_nav-responsive.active {
  top: 90px;
  transition: top 0.3s ease-out;
}
html body .slider {
  width: 100%;
  height: 75vh;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
}
html body .slider-msg {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.5);
  background-position: center;
  position: absolute;
}
html body .slider-msg--container {
  width: 80%;
  height: 300px;
  margin: 15% auto;
  text-align: center;
}
@media (max-width: 769px) {
  html body .slider-msg--container {
    width: 90%;
    margin: 22% auto;
  }
}
@media (max-width: 425px) {
  html body .slider-msg--container {
    margin: 26% auto;
  }
}
html body .slider-msg--container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  color: #efefef;
  text-shadow: 2px 2px #efefef;
}
@media (max-width: 769px) {
  html body .slider-msg--container h1 {
    left: 40px;
    font-size: 44px;
    text-align: center;
  }
}
@media (max-width: 376px) {
  html body .slider-msg--container h1 {
    left: 0;
    font-size: 34px;
  }
}
html body .slider-msg--container_btn {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 20px;
  background-color: #3a3a3a;
  color: #efefef;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin: 3% 1%;
}
@media (max-width: 425px) {
  html body .slider-msg--container_btn {
    width: 80%;
  }
}
html body .slider-msg--container_btn:hover {
  background-color: #cfe900;
  color: #3a3a3a;
  transition: all 0.3s ease-out;
}
html body .slider-container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 0.3s;
  position: relative;
  z-index: -1;
}
html body .slider-container img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
html body .slider-controls {
  padding: 0px;
  text-align: center;
  position: absolute;
  bottom: 1em;
  margin: 0px;
  width: 100%;
  z-index: 1;
}
html body .slider-controls-wrapper {
  width: 20%;
  margin: 0 auto;
  padding: 0px;
  padding-left: 16px;
}
@media (max-width: 425px) {
  html body .slider-controls-wrapper {
    width: 40%;
  }
}
html body .slider-controls-wrapper li {
  list-style-type: none;
  background-color: #444;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}
html body .slider-controls-wrapper li.active {
  background-color: #cfe900;
}
html body .wrapper-content {
  width: 100%;
  height: 1883px;
  margin: 0 auto;
  background-image: url(../img/bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
html body .wrapper-content .first-section-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 163px;
}
html body .wrapper-content .first-section-wrapper h2 {
  margin-top: 0;
  opacity: 0;
}
html body .wrapper-content .first-section-wrapper .p-features {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 36px;
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .p-features {
    margin-top: 6%;
  }
}
@media (max-width: 576px) {
  html body .wrapper-content .first-section-wrapper .p-features {
    font-size: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 376px) {
  html body .wrapper-content .first-section-wrapper .p-features {
    font-size: 21px;
  }
}
html body .wrapper-content .first-section-wrapper .first-section__features {
  display: flex;
  align-items: center;
  opacity: 0;
  margin-bottom: 130px;
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
html body .wrapper-content .first-section-wrapper .first-section__features img {
  width: 60%;
  height: 400px;
  display: inline-block;
  box-shadow: 6px 6px 13px #3a3a3a;
  border-radius: 20px;
}
@media (max-width: 991px) {
  html body .wrapper-content .first-section-wrapper .first-section__features img {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features img {
    width: 100%;
  }
}
@media (max-width: 376px) {
  html body .wrapper-content .first-section-wrapper .first-section__features img {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features {
    flex-direction: column;
  }
}
html body .wrapper-content .first-section-wrapper .first-section__features--revert {
  display: flex;
  align-items: center;
  opacity: 0;
  margin-bottom: 130px;
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features--revert {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
html body .wrapper-content .first-section-wrapper .first-section__features--revert img {
  width: 60%;
  height: 400px;
  display: inline-block;
  box-shadow: 6px 6px 13px #3a3a3a;
  border-radius: 20px;
}
@media (max-width: 991px) {
  html body .wrapper-content .first-section-wrapper .first-section__features--revert img {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features--revert img {
    width: 100%;
  }
}
@media (max-width: 376px) {
  html body .wrapper-content .first-section-wrapper .first-section__features--revert img {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content .first-section-wrapper .first-section__features--revert {
    flex-direction: column-reverse;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content {
    height: 2100px;
  }
}
html body .wrapper-content-2 {
  width: 100%;
  height: 1250px;
  margin: 0 auto;
  background-image: url(../img/bg-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
html body .wrapper-content-2 .second-section-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 163px;
}
html body .wrapper-content-2 .second-section-wrapper h2, html body .wrapper-content-2 .second-section-wrapper .about-text {
  opacity: 0;
}
@media (max-width: 376px) {
  html body .wrapper-content-2 .second-section-wrapper {
    width: 80%;
  }
}
html body .wrapper-content-2 .second-section-wrapper--developers {
  display: flex;
  width: 100%;
  height: 565px;
  justify-content: space-between;
  margin-top: 70px;
  opacity: 0;
}
@media (max-width: 991px) {
  html body .wrapper-content-2 .second-section-wrapper--developers {
    flex-wrap: wrap;
    justify-content: center;
  }
}
html body .wrapper-content-2 .second-section-wrapper--developers__card {
  width: 30.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 15px;
  box-shadow: 6px 6px 12px #3a3a3a;
  border-radius: 20px;
}
@media (max-width: 991px) {
  html body .wrapper-content-2 .second-section-wrapper--developers__card {
    width: 45%;
    margin: 40px 20px;
    padding-top: 33px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content-2 .second-section-wrapper--developers__card {
    width: 75%;
  }
}
html body .wrapper-content-2 .second-section-wrapper--developers__card img {
  width: 90%;
  height: 241px;
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 991px) {
  html body .wrapper-content-2 .second-section-wrapper--developers__card img {
    width: 80%;
  }
}
html body .wrapper-content-2 .second-section-wrapper--developers__card p {
  width: 80%;
  height: 40%;
  margin: 20px auto;
  font-size: 14px;
  line-height: normal;
}
@media (max-width: 991px) {
  html body .wrapper-content-2 .second-section-wrapper--developers__card p {
    width: 80%;
  }
}
@media (max-width: 376px) {
  html body .wrapper-content-2 .second-section-wrapper--developers__card {
    width: 100%;
  }
}
html body .wrapper-content-2 .second-section-wrapper--developers__card .icons-red {
  display: flex;
  margin: auto;
  height: 30px;
  margin-bottom: 10%;
}
html body .wrapper-content-2 .second-section-wrapper--developers__card .icons-red a {
  width: 30px;
  padding: 6px;
}
html body .wrapper-content-2 .second-section-wrapper--developers__card .icons-red img {
  width: 30px;
  height: 30px;
}
@media (max-width: 991px) {
  html body .wrapper-content-2 {
    height: 2100px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content-2 {
    height: 2700px;
  }
}
@media (max-width: 425px) {
  html body .wrapper-content-2 {
    height: 2850px;
  }
}
html body .wrapper-content-3 {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  background-image: url(../img/bg-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
html body .wrapper-content-3 .third-section-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 163px;
}
html body .wrapper-content-3 .third-section-wrapper h2 {
  opacity: 0;
}
@media (max-width: 376px) {
  html body .wrapper-content-3 .third-section-wrapper {
    width: 80%;
  }
}
html body .wrapper-content-3 .third-section-wrapper--content {
  display: flex;
  align-items: center;
  opacity: 0;
}
html body .wrapper-content-3 .third-section-wrapper--content img {
  border-radius: 20px;
}
@media (max-width: 991px) {
  html body .wrapper-content-3 .third-section-wrapper--content {
    align-items: space-between;
  }
  html body .wrapper-content-3 .third-section-wrapper--content img {
    width: 50%;
    margin-left: 15px;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content-3 .third-section-wrapper--content {
    flex-direction: column;
  }
  html body .wrapper-content-3 .third-section-wrapper--content img {
    width: 70%;
    margin-top: 60px;
  }
}
@media (max-width: 376px) {
  html body .wrapper-content-3 .third-section-wrapper--content img {
    width: 100%;
  }
}
@media (max-width: 769px) {
  html body .wrapper-content-3 {
    height: 1070px;
  }
}
html body footer {
  width: 100%;
  height: 90px;
  background-color: #3a3a3a;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body footer p {
  color: #efefef;
}