/*Variables*/

/*Colors */
$primary-color-green: #cfe900
$variant-color-yellow: #e1f73c
$second-color-orange: #F2CB05
$primary-color-gray: #3a3a3a
$second-color-white: #efefef
$primary-green-opacity: rgba(207, 233, 0, 0.5)

/*Variables breakpoints*/
$tablet: 991px
$mini-tablet: 769px
$bg-movil: 576px
$md-movil: 425px
$movil: 376px
/*General rules*/
h2 p h1 
	margin: 0
	color: $primary-color-gray
	
h2
	font-size: 42px

/*mixins*/
@mixin features
	display: flex
	align-items: center
	@media (max-width: $mini-tablet)
		width: 80%
		margin: 0 auto
		margin-bottom: 70px
	img
		width: 60%
		height: 400px
		display: inline-block
		box-shadow: 6px 6px 13px $primary-color-gray
		border-radius: 20px
		object-fit: fill
		@media (max-width: $tablet)
			width: 310px
			height: 310px
		@media (max-width: $mini-tablet)
			width: 100%
		@media (max-width: $movil)
			width: 310px
			height: 310px
@mixin items-menu
	a
		font-family: Arial, Helvetica, sans-serif
		color: $second-color-white
		text-decoration: none
		&:hover
			cursor: pointer
			color: $primary-color-gray
			background: $primary-color-green