/*Variables*/

/*Colors */
$primary-color-green: #cfe900
$variant-color-yellow: #e1f73c
$second-color-orange: #F2CB05
$primary-color-gray: #3a3a3a
$second-color-white: #efefef


/*Variables breakpoints*/
$tablet: 991px
$mini-tablet: 769px
$bg-movile: 547px
$movile: 376px

/*General rules*/
h2 p h1 
	margin: 0
	color: $primary-color-gray
	
h2
	font-size: 42px