doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon.ico")
		link(rel='stylesheet' href="css/styles.css")
		link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
		link(rel="stylesheet" href="https://use.typekit.net/plx3vvc.css")
		script(src='js/scripts.js')
		script(src='js/slider.js')
		title Not-Clicks
	body
		header
			div(class="header-container")
				div(class="header-container_logo")
				div(class="header-container_nav")
					ul(class="nav-container")
						each item in ['Home', 'Features', 'About Us', 'More']
							li(id="nav-container--item" class="nav-container--item")
								a(href=`#${item}`)=item
				input(type="checkbox" name="btn-menu" class="btn-menu" id="btn-menu")
				label(for="btn-menu" id="btn-menu")
					img(src="img/Icon-menu.png" class="btn-hamburger")
				div(class="header-container_nav-responsive" id="nav-responsive")
					ul(class="nav-responsive-container")
						each item in ['Home', 'Features', 'About Us', 'More']
							if item === 'About Us'
								li(id='About-Us-menu' class="nav-responsive-container--item")
									a(href=`#${item}`)=item
							else 
								li(id=`${item}-menu` class="nav-responsive-container--item")
									a(href=`#${item}`)=item
		div(name="Home" id="Home" class="slider")
			div(class="slider-msg")
				div(class="slider-msg--container")
					h1(class="animate pulse") Make it simple, fast, and useful.
					a(href="#")
						button(type='button' id="btn-dwl" class="slider-msg--container_btn") Download NotClicks
					a(href="https://github.com/SergioDiaz90/Not-Clicks" target="blank")
						button(type='button' id="btn-git" class="slider-msg--container_btn") GitHub Repository
			div(class="slider-container")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
			div(class="slider-controls")
				ul(class="slider-controls-wrapper")
		div(class="wrapper-content")
				div(class="first-section-wrapper" name="Features" id="Features")
					h2 Features
					div(class="first-section__features")
						img(src="img/features-1.gif" alt="img-1")
						p(class="p-features")
							| Move trough the all of your pinned buttom messages and send it to any amount of contacts!
					div(class="first-section__features--revert")
						p(class="p-features")
							| Iterates over the contacts in the right pane of whathash to send you a personalized message without using the mouse.
						img(src="img/features-2.gif" alt="img-1")
					div(class="first-section__features")
						img(src="img/features-3.gif" alt="img-2")
						p(class="p-features")
							| Send a greeting message to a pool of your clients, increase your productivity and give the best customer service, don't waste your time making clicks, use NotClicks! A complement for whathash.
		div(class="wrapper-content-2")
				div(class="second-section-wrapper About-Us" name="About Us" id="About Us")
					h2 About Us
					p(class="about-text").
						Makin the things fast simple and useful, Is like a mantra for each team member, this takes sense when the team uses technology to create not-clicks,  trough 9 moths the entire team was improving their knowledge for creating tools based on software development, all these talents were joined to supply a solution for Ayenda company.
						The big challenge had arrived.  One of the most important values that a company can offer is a great customer experience, and the main factor to do it is with time, as little as it may seem, passing time making clicks can be waste the chance to give a good service,
					p(class="about-text").
						when they noticed it, it was the opportunity to create a big solution, now Ayenda service agents, spend more time given bigger experiences and saving time without using the mouse.
					div(class="second-section-wrapper--developers")
						div(class="second-section-wrapper--developers__card")
							img(src="img/developer-1.jpeg" alt="")
							p.
								Julian Ramirez is to Software Developer and Petroleum Engineer with advance knowledge in Python language and C language, Web Scraping and JavaScript. Passionate about Data, sports, learning new things and traveling. I developed my graduate work with Ecopetrol S.A. in the reservoir area. I like to learn from my co-workers, participate in team discussions and being propositive with my work.
							div(class="icons-red")
								a(href="https://github.com/julianramirezch" target="blank")
									img(src="img/logo-github.png" alt="")
								a(href="https://www.linkedin.com/in/julian-jose-ramirez-chacon/" target="blank")
									img(src="img/logo-linkedin.png" alt="")
								a(href="https://twitter.com/JulianR_30" target="blank")
									img(src="img/logo-twitter.png" alt="")
						div(class="second-section-wrapper--developers__card")
							img(src="img/developer-2.jpeg" alt="")
							p.
								Sergio Diaz was born on October 19, 1994, in Bogota with fascination for the arts, reading and knowledge, and with great passions such as technology and music, so he has musical training, audiovisual, multimedia development, and software development, and having the opportunity to open for bands like Dr Krapula, make collaborations with the audiovisual department of the army, and now the participation in not-clicks with ayenda. 
							div(class="icons-red")
								a(href="https://github.com/SergioDiaz90" target="blank")
									img(src="img/logo-github.png" alt="")
								a(href="https://www.linkedin.com/in/sergiodiaz90/" target="blank")
									img(src="img/logo-linkedin.png" alt="")
								a(href="https://twitter.com/SergioDiaz90" target="blank")
									img(src="img/logo-twitter.png" alt="")
						div(class="second-section-wrapper--developers__card")
							img(src="img/developer-3.jpeg" alt="")
							p Fernando Sandoval, born in Bogotá on April 17, 1992, is passionate about rock music and technology, he has had many jobs that have taught him how important it’s to relate to people, in fact he won an award for being the best employee in In 2018, he decided to change his course, studying software development.
							div(class="icons-red")
								a(href="https://github.com/sandovbarr" target="blank")
									img(src="img/logo-github.png" alt="")
								a(href="https://www.linkedin.com/in/jairo-sandoval/" target="blank")
									img(src="img/logo-linkedin.png" alt="")
								a(href="https://twitter.com/elhumanimal" target="blank")
									img(src="img/logo-twitter.png" alt="")
		div(class="wrapper-content-3")
				div(class="third-section-wrapper" name="More" id="More")
					h2 More
					div(class="third-section-wrapper--content")
						p.
							Everything that happened in the pomestones team and the way it came to the solution that is not-clicks had a technical process, but it was also a process of a lot of emotions and thoughts that seized both our mentor and our development team, watch the following video and discover the thoughts and feelings of each of the members in the development of the project.
						//- img(src="img/Rectángulo 10.png" alt="img-3")
						video(src="#" controls)
		footer
			p PomeStones &copy 2020 All Rights Reserved.
